html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color:cornflowerblue
}

main {
    width: 100%;
    height: 100%;
}

#background {
    width: 200%;
    height: 100%;
    background: url("./images/background01.png");
    background-size: 100vw 100vh;
    background-repeat: repeat-x;
    position: absolute;
    animation: slide-background 7s linear infinite;
}

@keyframes slide-background {
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(-100vw)
    }
}

#balloon {
    width: 20vh;
    height: 20vh;
    background: url("./images/Drifblim.png");
    background-size: 20vh 20vh;
    position: absolute; 
    top: 40vh;
    left: 10vw;
    animation: float-animation 3s infinite;
}

@keyframes float-animation {
    0% { 
        transform: translateY(10%)
    }
    50% {
        transform: translateY(-10%)
    }
    100% {
        transform: translateY(10%)
    }
}

.coin {
    width: 10vh;
    height: 10vh;
    background:url("./images/coin-flip-39.gif");
    background-size: 10vh 10vh;
    position: absolute;
    animation: slide-coin 7s linear;
}

@keyframes slide-coin {
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(calc(1px - 100vw - 10vh))
    }
}